$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$tab_mobile_device:'only screen and (max-width: 991px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$small_mobile:'(max-width: 767px)';
$xs_mobile: '(max-width: 480px)';